@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    line-height: 1.7;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
}
header {
    height: 280px;
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav {
    display: flex;
}
.main-nav li {
    margin-right: 30px;
    font-size: 90%;
}
.main-nav li a {
    color: black;
}
.main-nav li a:hover {
    color: rgb(124, 124, 124);
}
.main-nav img {
    width: 1rem;
    height: 1rem;
}
/* main */
.main-visu {
    width: 100%;
    height: 420px;
    background-image: url(../imgs/img/mainvisual-pc.jpg);
}
.main-content {
    margin-top: 85px;
}
/* about */
#about p,li{
    font-size: 0.9rem;
}
.main-content h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 30px 0;
}
#about p {
    margin-top: 25px;
    
}
.about-detail {
    margin-top: 25px;
}
/* works */
#works {
    margin-top: 125px;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}
/* news */
#news {
    margin-top: 125px;
    margin-bottom: 50px;
}
#news ul {
    margin-top: 6%;
}
#news li {
    display: flex;
    padding:12px;
    border-top: thin solid gray;
}
#news li:nth-child(5) {
    border-bottom: thin solid gray;
}
.time {
    margin-right: 100px;
}
/* CONTACT */
#contact {
    min-height: 100vh;
    margin-top: 150px;
}
#contact div {
    display: flex;
    justify-content: space-between;
}
form {
    margin-top: 70px;
    text-align: center;
}
form div {
    margin-bottom: 14px;
}
label {
    font-size: 0.9rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    border: 1px gray solid;
    padding: 10px;
    font-size: 1rem;
    width: 85%;
    height: 2.8rem;
}

textarea {
    height: 10rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    padding: 20px 90px;
    font-size: 0.9rem;
    margin-top: 20px;
}
footer {
    text-align: center;
    padding: 10px 0;
    
    background-color: rgb(41, 41, 41);
    color: white;
}
footer p {
    font-size: 0.700rem;
}
@media (max-width: 600px) {
    header {
        height: 100px;
    }
    .page-header {
        flex-direction: column;
        justify-content: center;
    }
    .header-left {
        margin-top: 10px;
    }
    .main-nav {
        margin-top: 3px;
    }
    .main-nav li {
        margin-right: 20px;
        font-size: 77%;
    }
    /* NEWS */
    #news li {
        flex-direction: column;
    }
    #contact div {
        flex-direction: column;
        align-items: flex-start;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
    }
}